version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 10
    reviewers:
      - "erik-berndt"
    assignees:
      - "erik-berndt"
    commit-message:
      prefix: "deps"
      prefix-development: "dev-deps"
    groups:
      security-updates:
        patterns:
          - "*"
        update-types:
          - "security-update"
